{% extends 'base.html.twig' %}

{% block title %}SisVentas - Ventas{% endblock %}
{% block bodytitle %}Ventas{% endblock %}

{% block body %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message|raw }}
        </div>
    {% endfor %}
    <a href="{{ path('app_venta_new') }}" class="btn btn-success"><i class="bi bi-plus-circle-fill"></i> Vender</a>
    <table class="table table-striped table-sm table-hover" id="tablaventa">
        <thead>
            <tr>
                {# <th>Id</th> #}
                <th>Factura</th>
                <th>Fecha</th>
                <th>Total</th>
                <th>Estado</th>
                    {# <th>Teléfono</th>
                    <th>Dirección</th> #}
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for venta in ventas %}
                <tr{% if venta.Estado == 'Anulada' %} style="background-color: #faa"{% endif %}>
                    {# <td>{{ venta.id }}</td> #}
                    <td>{{ venta.Factura|u.truncate(13, '...') }}</td>
                    <td>{{ venta.Fecha|date("d/m/Y") }}</td>
                    <td>$ {{ venta.Total }}</td>
                    <td>
                    {% if venta.Estado == 'Normal' %}
                    <i class="bi bi-check2-circle"></i>Ok 
                    {% else %}
                    <i class="bi bi-x-circle"></i> Anulada
                    {% endif %}
                    </td>
                    {# <td>{{ venta.Telefono }}</td>
                    <td>{{ venta.Direccion }}</td> #}
                    <td>
                        <a href="{{ path('app_venta_view',{'id':venta.id}) }}" class="btn btn-primary btn-sm" title="Ver Remito" target="_blank"><i class="bi bi-card-text"></i></a>
                           
                        <a href="{% if venta.Estado == 'Anulada' %}#{% else %}{{ path('app_venta_delete',{'id':venta.id}) }}{% endif %}" class="btn btn-danger btn-sm {% if venta.Estado == 'Anulada' %} disabled{% endif %}" title="Anular"><i class="bi bi-x-circle"></i></a>
                        
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}