
<table class="table table-sm table-condensed">
        <tr>
            {# <th>Id</th> #}
            <th scope="row">Cliente</th>
            <td>{{ venta.cliente }}</td>
            <th scope="row">Fecha</th>
            <td>{{ venta.Fecha|date("d/m/Y") }}</td>
        </tr>
        <tr>
            <th scope="row">Factura</th>
            <td>[{{ venta.TipoFactura }}] {{ venta.Factura }}</td>
            <th scope="row">Remito Nº</th>
            <td>{{ venta.id }}</td>
        </tr>
</table>
<table class="table table-sm table-condensed">
    <thead>
        <tr>
            {# <th>Id</th> #}
            <th>Cod.</th>
            <th>Producto</th>
            <th>Precio Unitario</th>
            <th>Cantidad</th>
            <th>Sub-Total</th>
        </tr>
    </thead>
    <tbody>
        {% for detalle in venta.getDetalles %}
            <tr>
                <td>{{ detalle.id }}</td>
                <td>{{ detalle.Producto.nombre }}</td>
                <td>$ {{ detalle.CostoUnitario|number_format(2, '.', ',') }}</td>
                <td>{{ detalle.Cantidad }}</td>
                <td>$ {{ (detalle.CostoUnitario * detalle.Cantidad)|number_format(2, '.', ',') }}</td>
            </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            {# <th>Id</th> #}
            <th colspan="3"></th>
            <th>Total</th>
            <th>$ {{ venta.Total|number_format(2, '.', ',') }}</th>
        </tr>
    </tfoot>
</table>
        
